<div class="col-md-2 static">
  <div class="suggestions" id="sticky-sidebar">
    <h4 class="grey">Friend Suggestion</h4>
    <div class="follow-user" *ngFor="let user of userList">
      <img src="{{user.avatar}}" alt="" class="profile-photo-sm pull-left" />
      <div>
        <h5><a [routerLink]="'/post/user/'+ user.id">{{user.firstName}} {{user.lastName}}</a></h5>
        <button (click)="addFriend(user.id)" class="btn btn-primary"><span id="{{user.id}}">Add Friend</span></button>
      </div>
    </div>
  </div>
</div>
