<!--<div class="row container-fluid mt-5 ml-1" style="background: #f8f9fc">-->
<!--  <div class="col-2 test"></div>-->
<!--  <div class="card text-center register col-lg-3 " >-->
<!--    <div class=" text-center mt-2">-->
<!--      <h2>Thông tin cá nhân</h2>-->
<!--    </div>-->
<!--    <div class="card-body">-->
<!--      &lt;!&ndash; Login&ndash;&gt;-->

<!--      <div class="row mb-3 text-center"><img class="col-12" src="{{user.avatar}}" alt=""></div>-->
<!--      <form [formGroup]="updateForm" (ngSubmit)="update()">-->

<!--        <div class="input-group mb-3">-->
<!--          <div class="input-group-prepend">-->
<!--            <span class="input-group-text">Upload</span>-->
<!--          </div>-->
<!--          <div class="custom-file">-->
<!--            <input type="file" class="form-control" (change)="saveImg($event)" id="inputFile">-->
<!--            <label class="custom-file-label" for="inputFile">Choose file</label>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="text-left">-->
<!--          <label>First Name</label>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <input type="text" class="form-control" formControlName="firstName" id="firstName" name="firstName"-->
<!--                 placeholder="First Name">-->
<!--        </div>-->
<!--        <div class="text-left">-->
<!--          <label>Last Name</label>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <input type="text" class="form-control" formControlName="lastName" id="lastName" name="lastName"-->
<!--                 placeholder="Last Name">-->
<!--        </div>-->
<!--        <div class="text-left">-->
<!--          <label>Email</label>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <input type="text" class="form-control" formControlName="email"-->
<!--                 placeholder="Email">-->
<!--        </div>-->
<!--        <div class="text-left">-->
<!--          <label>Số điện thoại</label>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <input type="text" class="form-control" formControlName="phone"-->
<!--                 placeholder="Số điện thoại">-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-success nutPhai mr-2">Thay đổi thông tin</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<body>
<!-- Header
================================================= -->
<header id="header">
  <app-navbar></app-navbar>
</header>
<!--Header End-->

<div class="container">

  <!-- Timeline
  ================================================= -->
  <div class="timeline">
    <div class="timeline-cover">

      <!--Timeline Menu for Large Screens-->
      <div class="timeline-nav-bar hidden-sm hidden-xs">
        <div class="row">
          <div class="col-md-3">
            <div class="profile-info">
              <img src="{{user.avatar}}" alt="" class="img-responsive profile-photo"/>
              <h3>{{user.firstName + " " + user.lastName}}</h3>
              <p class="text-muted">{{user.email}} </p>
            </div>
          </div>
          <div class="col-md-9">
            <ul class="list-inline profile-menu">
              <li><a [routerLink]="'/post/timeline'">Timeline</a></li>
              <li><a href="timeline-about.html">About</a></li>
              <li><a href="timeline-album.html">Album</a></li>
              <li><a [routerLink]="'/listFriend'">Friends</a></li>
              <!--              <li><a [routerLink] class="active">Friends Request ({{sumListPending}})</a></li>-->
            </ul>
          </div>
        </div>
      </div><!--Timeline Menu for Large Screens End-->

    </div>
    <div id="page-contents">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">
          <div class="friend-list">
            <div class="row">
              <ul class="col-md-10 col-sm-5">


                <!--                <div class="row container-fluid mt-5 ml-5" >-->
                <!--                  <div class="col-2 test"></div>-->
                <!--                  <div class="card text-center register col-lg-14 " >-->
                <!--                    <div class="card-body">-->
                <!--                      <div class="row mb-3 text-center"><img class="col-12" src="{{user.avatar}}" alt="" width="200px" height="200px"></div>-->
                <!--                      <form [formGroup]="updateForm" (ngSubmit)="update()">-->

                <!--                        <div class="input-group mb-3">-->
                <!--                          <div class="input-group-prepend">-->
                <!--                            <span class="input-group-text">Upload</span>-->
                <!--                          </div>-->
                <!--                          <div class="custom-file">-->
                <!--                            <input type="file" class="form-control" (change)="saveImg($event)" id="inputFile">-->
                <!--                            <label class="custom-file-label" for="inputFile">Choose file</label>-->
                <!--                          </div>-->
                <!--                        </div>-->
                <!--                        <div class="text-left">-->
                <!--                          <label>First Name</label>-->
                <!--                        </div>-->
                <!--                        <div class="form-group">-->
                <!--                          <input type="text" class="form-control" formControlName="firstName" id="firstName" name="firstName"-->
                <!--                                 placeholder="First Name">-->
                <!--                        </div>-->
                <!--                        <div class="text-left">-->
                <!--                          <label>Last Name</label>-->
                <!--                        </div>-->
                <!--                        <div class="form-group">-->
                <!--                          <input type="text" class="form-control" formControlName="lastName" id="lastName" name="lastName"-->
                <!--                                 placeholder="Last Name">-->
                <!--                        </div>-->
                <!--                        <div class="text-left">-->
                <!--                          <label>Email</label>-->
                <!--                        </div>-->
                <!--                        <div class="form-group">-->
                <!--                          <input type="text" class="form-control" formControlName="email"-->
                <!--                                 placeholder="Email">-->
                <!--                        </div>-->
                <!--                        <div class="text-left">-->
                <!--                          <label>Phone</label>-->
                <!--                        </div>-->
                <!--                        <div class="form-group">-->
                <!--                          <input type="text" class="form-control" formControlName="phone"-->
                <!--                                 placeholder="Số điện thoại">-->
                <!--                        </div>-->
                <!--                        <button type="submit" class="btn btn-success nutPhai mr-2">Thay đổi thông tin</button>-->
                <!--                      </form>-->
                <!--                    </div>-->
                <!--                  </div>-->
                <!--                </div>-->
                <div class="row mb-3 text-center"><img class="col-12" src="{{user.avatar}}" alt="" width="200px"
                                                       height="200px"></div>
                <form class="user" [formGroup]="updateForm" (ngSubmit)="update()">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
<!--                      <span class="input-group-text">Upload</span>-->
                      <label class="custom-file-label" for="inputFile">Change avatar</label>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="form-control" (change)="saveImg($event)" id="inputFile">
<!--                      <label class="custom-file-label" for="inputFile">Choose file</label>-->
                    </div>
                  </div>
                  <br>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <label>Last Name</label>
                      <input type="text" class="form-control form-control-user" id="firstName"
                             formControlName="firstName">
                    </div>
                    <div class="col-sm-6">
                      <label>Last Name</label>
                      <input type="text" class="form-control form-control-user" id="lastName"
                             formControlName="lastName">
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <label>Email</label>
                      <input type="email" class="form-control form-control-user"
                             id="email"  formControlName="email">
                    </div>
                    <div class="col-sm-6">
                      <label>Phone</label>
                      <input type="text" class="form-control form-control-user"
                             id="phone"  formControlName="phone">
                    </div>
                  </div>

<!--                  <div class="form-group row">-->
<!--                    <div class="col-sm-6 mb-3 mb-sm-0">-->
<!--                      <input type="text" class="form-control form-control-user"-->
<!--                             id="exampleEmail" placeholder="Email" formControlName="email">-->
<!--                      <div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-6">-->
<!--                      <input type="password" class="form-control form-control-user"-->
<!--                             id="examplePassword" placeholder="Nhập mật khẩu" formControlName="password">-->
<!--                    </div>-->
<!--                  </div>-->

                  <input type="submit" class="btn btn-primary center-block" value="Update Profile">
                  <hr>
                </form>


              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-2 static">
          <div id="sticky-sidebar">
            <h4 class="grey">Sarah's activity</h4>
            <div class="feed-item">
              <div class="live-activity">
                <p><a href="#" class="profile-link">Sarah</a> Commended on a Photo</p>
                <p class="text-muted">5 mins ago</p>
              </div>
            </div>
            <div class="feed-item">
              <div class="live-activity">
                <p><a href="#" class="profile-link">Sarah</a> Has posted a photo</p>
                <p class="text-muted">an hour ago</p>
              </div>
            </div>
            <div class="feed-item">
              <div class="live-activity">
                <p><a href="#" class="profile-link">Sarah</a> Liked her friend's post</p>
                <p class="text-muted">4 hours ago</p>
              </div>
            </div>
            <div class="feed-item">
              <div class="live-activity">
                <p><a href="#" class="profile-link">Sarah</a> has shared an album</p>
                <p class="text-muted">a day ago</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Footer
================================================= -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="footer-wrapper">
        <div class="col-md-3 col-sm-3">
          <a href=""><img src="assets/images/logo-black.png" alt="" class="footer-logo"/></a>
          <ul class="list-inline social-icons">
            <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
            <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
            <li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
            <li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2">
          <h6>For individuals</h6>
          <ul class="footer-links">
            <li><a href="">Signup</a></li>
            <li><a href="">login</a></li>
            <li><a href="">Explore</a></li>
            <li><a href="">Finder app</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">Language settings</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2">
          <h6>For businesses</h6>
          <ul class="footer-links">
            <li><a href="">Business signup</a></li>
            <li><a href="">Business login</a></li>
            <li><a href="">Benefits</a></li>
            <li><a href="">Resources</a></li>
            <li><a href="">Advertise</a></li>
            <li><a href="">Setup</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2">
          <h6>About</h6>
          <ul class="footer-links">
            <li><a href="">About us</a></li>
            <li><a href="">Contact us</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms</a></li>
            <li><a href="">Help</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-3">
          <h6>Contact Us</h6>
          <ul class="contact">
            <li><i class="icon ion-ios-telephone-outline"></i>+1 (234) 222 0754</li>
            <li><i class="icon ion-ios-email-outline"></i>info@thunder-team.com</li>
            <li><i class="icon ion-ios-location-outline"></i>228 Park Ave S NY, USA</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>Thunder Team © 2016. All rights reserved</p>
  </div>
</footer>

<!--preloader-->
<!--<div id="spinner-wrapper">-->
<!--  <div class="spinner"></div>-->
<!--</div>-->

</body>



