<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-8 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-4 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-4">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome to Fakebook !!!</h1>
                </div>
                <form class="user" [formGroup]="loginForm" (ngSubmit)="login()">
                  <div class="form-group">
                    <input type="tel" class="form-control form-control-user"
                           id="username" aria-describedby="emailHelp"
                           placeholder="Username" formControlName="username">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user"
                           id="password" placeholder="Password" formControlName="password">
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" for="customCheck"> Remember me</label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn-user btn-block">
                    Login
                  </button>
                </form>
                <hr>
                <div class="text-center">
                  <a href="register"><h5>Register</h5></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

