
<div class="theme-layout">
  <section>
    <div class="gap gray-bg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="row" id="page-contents">
              <div class="col-lg-3">
                <aside class="sidebar static">
                </aside>
              </div>
              <div class="col-lg-6">
                <div class="central-meta">
                  <div class="messages">
                    <h5 class="f-title"><i class="ti-bell"></i>All Messages <span class="more-options"><i class="fa fa-ellipsis-h"></i></span></h5>
                    <div class="message-box">
                      <ul class="peoples">
                        <li *ngFor="let user of users; let i = index">
                          <div (click)="setUserTarget(user.id)">
                            <figure>
                              <img style="width: 2.3vw;height: 2.3vw;object-fit: cover" src="{{user.avatar}}" alt="">
                            </figure>
                            <div class="people-name">
                              <span>{{user.username}}</span>
                            </div>
                          </div>
                        </li>
                      </ul>
                      <div class="peoples-mesg-box">
                        <div class="conversation-head">
                          <figure><img style="width: 2.4vw;height: 2.4vw;object-fit: cover" src="{{userTarget.avatar}}" alt=""></figure>
                          <span>{{userTarget.username}}</span>
                        </div>
                        <ul class="chatting-area">
                          <div *ngFor="let message of messages">
                            <div *ngIf="userLogin.id==message.fromId">
                              <li class="you" >
                                <figure><img style="width: 1.8vw;height: 1.8vw;object-fit: cover" src="{{userLogin.avatar}}" alt=""></figure>
                                <p>{{message.message}}</p>
                              </li>
                            </div>
                            <div *ngIf="userLogin.id!=message.fromId">
                              <li class="me" >
                                <figure><img style="width: 1.8vw;height: 1.8vw;object-fit: cover" src="{{userTarget.avatar}}" alt=""></figure>
                                <p>{{message.message}}</p>
                              </li>
                            </div>
                          </div>
                        </ul>
                        <div class="message-text-container">
                          <form method="post" [formGroup]="form" (submit)="sendMessageUsingSocket()">
                            <textarea formControlName="message" name="message" placeholder="Message"></textarea>
                            <button title="send" type="submit"><i class="fa fa-paper-plane"></i></button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <aside class="sidebar static">
                  <app-friendlist [idUser]="userLogin.id"></app-friendlist>
                </aside>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
