<form (ngSubmit)="createComment()" class="post-comment">
  <img *ngIf="comments.appUser.avatar !=null" [src]="comments.appUser.avatar" alt="" class="profile-photo-sm"/>
  <!--  <img *ngIf="comments.appUser.avatar==null" src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?b=1&k=6&m=1223671392&s=612x612&w=0&h=5VMcL3a_1Ni5rRHX0LkaA25lD_0vkhFsb1iVm1HKVSQ=" alt="" class="profile-photo-sm"/>-->
  <input name="content" type="text" id="content" class="form-control-static"
           placeholder="Post comment"
           size="55px"
           [(ngModel)]="comments.content">
  <p>' '</p>
  <button type="submit" class="btn btn-primary">Gửi</button>
</form>
