<form (ngSubmit)="edit()" class="post-comment">
  <!--  <input name="content" type="text" [(ngModel)]="comment.content">-->
  <!--  <button type="submit">Edit</button>-->
  <div class="card shadow mb-4">
    <div class="table-responsive">
      <div class="col-lg-6">
        <h3>Bình luận</h3>
        <input class="form-control form-control-user" [(ngModel)]="comment.content"
               type="text" name="content">
      </div>
      <br>
      <br>
      <br>
      <div class="col-lg-6">
        <button class="btn btn-primary" type="submit" style="margin-left: 2px">Sửa
        </button>
      </div>
    </div>
  </div>
</form>
