<body>
<!-- Header
================================================= -->
<header id="header">
  <app-navbar></app-navbar>
</header>
<!--Header End-->

<div class="container">

  <!-- Timeline
  ================================================= -->
  <div class="timeline">
    <div class="timeline-cover">

      <!--Timeline Menu for Large Screens-->
      <div class="timeline-nav-bar hidden-sm hidden-xs">
        <div class="row">
          <div class="col-md-3">
            <div class="profile-info">
              <img src="{{user.avatar}}" alt="" class="img-responsive profile-photo"/>
              <h3>{{user.firstName + " " + user.lastName}}</h3>
              <p class="text-muted">{{user.email}} </p>
            </div>
          </div>
          <div class="col-md-9">
            <ul class="list-inline profile-menu">
              <li><a [routerLink]="'/post/timeline'">Timeline</a></li>
              <li><a [routerLink]="'/user/'+user.id+'/about'">About</a></li>
              <li><a >Album</a></li>
              <li><a [routerLink]="'/listFriend/'+user.id">Friends</a></li>
              <!--              <li><a [routerLink] class="active">Friends Request ({{sumListPending}})</a></li>-->
            </ul>
          </div>
        </div>
      </div><!--Timeline Menu for Large Screens End-->

    </div>
    <div id="page-contents">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">
          <div class="friend-list">
            <div class="row">
              <ul class="col-md-10 col-sm-5">


<!--                <div class="row mb-3 text-center"><img class="col-12" src="{{user.avatar}}" alt="" width="200px"-->
<!--                                                       height="200px"></div>-->
<!--                <form class="user" [formGroup]="updateForm" (ngSubmit)="update()">-->

<!--                  <div class="form-group row">-->
<!--                    <div class="col-sm-6 mb-3 mb-sm-0">-->
<!--                      <label>Password</label>-->
<!--                      <input type="text" class="form-control form-control-user" id="password"-->
<!--                             formControlName="password">-->
<!--                    </div>-->
<!--&lt;!&ndash;                    <div class="col-sm-6">&ndash;&gt;-->
<!--&lt;!&ndash;                      <label>Confirm Password</label>&ndash;&gt;-->
<!--&lt;!&ndash;                      <input type="text" class="form-control form-control-user" id="lastName"&ndash;&gt;-->
<!--&lt;!&ndash;                             formControlName="lastName">&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                  </div>-->


<!--                  <input type="submit" class="btn btn-primary center-block" value="Update Profile">-->
<!--                  <hr>-->
<!--                </form>-->

<!--                <form [formGroup]="form" (ngSubmit)="submit()">-->

<!--                  <div class="form-group">-->
<!--                    <label for="password">Password</label>-->
<!--                    <input-->
<!--                      formControlName="password"-->
<!--                      id="password"-->
<!--                      type="password"-->
<!--                      class="form-control">-->
<!--                    <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">-->
<!--                      <div *ngIf="f.password.errors.required">Password is required.</div>-->
<!--                    </div>-->
<!--                  </div>-->

<!--                  <div class="form-group">-->
<!--                    <label for="confirm_password">Confirm Password</label>-->
<!--                    <input-->
<!--                      formControlName="confirm_password"-->
<!--                      id="confirm_password"-->
<!--                      type="password"-->
<!--                      class="form-control">-->
<!--                    <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">-->
<!--                      <div *ngIf="f.confirm_password.errors.required">Password is required.</div>-->
<!--                      <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>-->
<!--                    </div>-->
<!--                  </div>-->


<!--                <form [formGroup]="newPasswordForm" (ngSubmit)="changePassword()">-->
<!--                  <div class="text-left">-->
<!--                    <label>Password</label>-->
<!--                  </div>-->
<!--                  <div class="form-group">-->
<!--                    <input type="text" class="form-control" formControlName="password" id="password"-->
<!--                           placeholder="Password">-->
<!--                  </div>-->
<!--                  <div class="text-left">-->
<!--                    <label>Confirm password</label>-->
<!--                  </div>-->
<!--                  <div class="form-group">-->
<!--                    <input type="password" class="form-control"-->
<!--                           id="exampleInputConfirmPassword1"-->
<!--                           placeholder="Confirm password">-->
<!--                  </div>-->
<!--                  <button class="btn btn-primary" type="submit" >Submit</button>-->
<!--                </form>-->


                <form name="form" class="form-group" (ngSubmit)="f.form.valid && resetPassword(user.id)" #f="ngForm" novalidate>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-6  my-profile">
                        <h4 class="margin-top-0 margin-bottom-30">Change Password</h4>


                        <label>New Password</label>
                        <input name="password" type="password" class="form-control"
                               [(ngModel)]="user.password" #password="ngModel" required="required" minlength="6">
                        <div *ngIf="f.submitted && password.invalid">
                          <div *ngIf="password.errors?.required" class="text-danger">Password is not blank </div>
                          <div *ngIf="password.errors?.minlength" class="text-danger">Password at least 6 characters</div>
                        </div>


                        <button class="btn btn-outline-success" type="submit" >Cập nhật</button>
                      </div>

<!--                      <div class="col-md-6">-->
<!--                        <div class="notification notice">-->
<!--                          <p>Your password should be at least 6 random characters long to be safe</p>-->
<!--                        </div>-->
<!--                      </div>-->

                    </div>
                  </div>
                </form>


              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-2 static">
          <div id="sticky-sidebar">
            <h4 class="grey">Sarah's activity</h4>
            <div class="feed-item">
              <div class="live-activity">
                <p><a href="#" class="profile-link">Sarah</a> Commended on a Photo</p>
                <p class="text-muted">5 mins ago</p>
              </div>
            </div>
            <div class="feed-item">
              <div class="live-activity">
                <p><a href="#" class="profile-link">Sarah</a> Has posted a photo</p>
                <p class="text-muted">an hour ago</p>
              </div>
            </div>
            <div class="feed-item">
              <div class="live-activity">
                <p><a href="#" class="profile-link">Sarah</a> Liked her friend's post</p>
                <p class="text-muted">4 hours ago</p>
              </div>
            </div>
            <div class="feed-item">
              <div class="live-activity">
                <p><a href="#" class="profile-link">Sarah</a> has shared an album</p>
                <p class="text-muted">a day ago</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Footer
================================================= -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="footer-wrapper">
        <div class="col-md-3 col-sm-3">
          <a href=""><img src="assets/images/logo-black.png" alt="" class="footer-logo"/></a>
          <ul class="list-inline social-icons">
            <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
            <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
            <li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
            <li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2">
          <h6>For individuals</h6>
          <ul class="footer-links">
            <li><a href="">Signup</a></li>
            <li><a href="">login</a></li>
            <li><a href="">Explore</a></li>
            <li><a href="">Finder app</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">Language settings</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2">
          <h6>For businesses</h6>
          <ul class="footer-links">
            <li><a href="">Business signup</a></li>
            <li><a href="">Business login</a></li>
            <li><a href="">Benefits</a></li>
            <li><a href="">Resources</a></li>
            <li><a href="">Advertise</a></li>
            <li><a href="">Setup</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2">
          <h6>About</h6>
          <ul class="footer-links">
            <li><a href="">About us</a></li>
            <li><a href="">Contact us</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms</a></li>
            <li><a href="">Help</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-3">
          <h6>Contact Us</h6>
          <ul class="contact">
            <li><i class="icon ion-ios-telephone-outline"></i>+1 (234) 222 0754</li>
            <li><i class="icon ion-ios-email-outline"></i>info@thunder-team.com</li>
            <li><i class="icon ion-ios-location-outline"></i>228 Park Ave S NY, USA</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>Thunder Team © 2016. All rights reserved</p>
  </div>
</footer>


</body>



