<body>

<!-- Header
================================================= -->

<header id="header">
  <app-navbar></app-navbar>
</header>
<!--Header End-->

<div class="container">

  <!-- Timeline
  ================================================= -->
  <div class="timeline">
    <app-cover [guestUserId]="currentUser.id"></app-cover>
    <div id="page-contents">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">

          <!-- Post Create Box
          ================================================= -->

          <app-add-post></app-add-post>

          <!-- Post Create Box End-->

          <!-- Post Content
          ================================================= -->
          <app-list-post [guestUserId]="currentUser.id"></app-list-post>

          <!-- Post Content End
          ================================================= -->


        </div>
        <!--        thong báo-->
<!--        <div class="col-md-2 static">-->
<!--          <div id="sticky-sidebar" class="" style="">-->
<!--            <h4 class="grey">Sarah's activity</h4>-->
<!--            <div class="feed-item">-->
<!--              <div class="live-activity">-->
<!--                <p><a href="#" class="profile-link">Sarah</a> Commended on a Photo</p>-->
<!--                <p class="text-muted">5 mins ago</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="feed-item">-->
<!--              <div class="live-activity">-->
<!--                <p><a href="#" class="profile-link">Sarah</a> Has posted a photo</p>-->
<!--                <p class="text-muted">an hour ago</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="feed-item">-->
<!--              <div class="live-activity">-->
<!--                <p><a href="#" class="profile-link">Sarah</a> Liked her friend's post</p>-->
<!--                <p class="text-muted">4 hours ago</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="feed-item">-->
<!--              <div class="live-activity">-->
<!--                <p><a href="#" class="profile-link">Sarah</a> has shared an album</p>-->
<!--                <p class="text-muted">a day ago</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>

<!-- Footer
================================================= -->
<app-footer></app-footer>

<!--preloader-->
<!--<div id="spinner-wrapper" style="display: none;">-->
<!--  <div class="spinner"></div>-->
<!--</div>-->


</body>
