<h5>There are {{comments.length}} comment</h5>
<div *ngFor="let c of comments" class="post-comment">
  <img [src]="c.appUser.avatar" class="profile-photo-sm"/>
  <span>
    <a class="profile-link"
       [routerLink]="'/post/user/'+ c.appUser.id">{{c.appUser.firstName + ' ' + c.appUser.lastName}}</a>
    <p>{{c.content}}</p>
    <p class="text-muted"> {{c.createdTime| date : 'hh: mm | dd/ MM/ yyyy'}}</p>
       <a *ngIf="currentUser!=null && currentUser.id==c.appUser.id " [routerLink]="'/post/editComment/' + c.id">Edit</a>
    <a *ngIf="currentUser!=null && currentUser.id==c.appUser.id || currentUser!=null && currentUser.id==userPosted.id" [routerLink]="'/post/delete/' + c.id" style="margin-left: 10px"
       (click)="deleteComment(c.id)">Delete</a>
  </span>
</div>
<div class="post-comment">
  <form *ngIf="currentUser!=null" (ngSubmit)="createComment()" class="post-comment">
    <img [src]="currentUser.avatar" alt="" class="profile-photo-sm"/>
    <input name="content" type="text" id="content" class="form-control-static"
           placeholder="Post comment"
           size="50px"
           [(ngModel)]="comment.content">
    <button style="margin-left: 10px" type="submit" class="btn btn-primary">Comment</button>
  </form>
</div>
