<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-3 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create new account</h1>
            </div>
            <form class="user" [formGroup]="registerForm" (ngSubmit)="register()">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="exampleFirstName"
                         placeholder="Username" formControlName="username">
                  <div
                    *ngIf="registerForm.get('username').invalid && registerForm.get('username').touched">
                    <div class="alert alert-danger mt-1" role="alert"
                         *ngIf="registerForm.get('username').errors.whitespace">
                      Username has no spaces
                    </div>
                    <div class="alert alert-danger mt-1" role="alert"
                         *ngIf="registerForm.get('username').errors.required">
                      Username is not blank
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-user" id="examplePhone"
                         placeholder="Phone Number" formControlName="phone">
                  <div
                    *ngIf="registerForm.get('phone').invalid && registerForm.get('phone').touched">
                    <div class="alert alert-danger mt-1" role="alert"
                         *ngIf="registerForm.get('phone').errors.pattern">
                      Phone number is not formatted
                    </div>
                    <div class="alert alert-danger mt-1" role="alert"
                         *ngIf="registerForm.get('phone').errors.required">
                      Phone number is not blank
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user"
                         id="exampleFistName" placeholder="First Name" formControlName="firstName">
                  <div
                    *ngIf="registerForm.get('firstName').invalid && registerForm.get('firstName').touched">
                    <div class="alert alert-danger mt-1" role="alert"
                         *ngIf="registerForm.get('firstName').errors.required">
                      First name is not blank
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-user"
                         id="exampleLastName" placeholder="Last Name" formControlName="lastName">
                  <div
                    *ngIf="registerForm.get('lastName').invalid && registerForm.get('lastName').touched">
                    <div class="alert alert-danger mt-1" role="alert"
                         *ngIf="registerForm.get('lastName').errors.required">
                      Last name is not blank
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user"
                         id="exampleEmail" placeholder="Email" formControlName="email">
                  <div
                    *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">
                    <div class="alert alert-danger mt-1" role="alert"
                         *ngIf="registerForm.get('email').errors.email">
                      Email is not formatted
                    </div>
                    <div class="alert alert-danger mt-1" role="alert"
                         *ngIf="registerForm.get('email').errors.required">
                      Email is not blank
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <input type="password" class="form-control form-control-user"
                         id="examplePassword" placeholder="Password" formControlName="password">
                  <div
                    *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched">
                    <div class="alert alert-danger mt-1" role="alert"
                         *ngIf="registerForm.get('password').errors.minlength">
                      Password at least 6 characters
                    </div>
                    <div class="alert alert-danger mt-1" role="alert"
                         *ngIf="registerForm.get('password').errors.required">
                      Password is not blank
                    </div>
                  </div>
                </div>
              </div>

              <input type="submit" class="btn btn-primary btn-user btn-block" value="Register">
            </form>
            <hr>
            <div class="text-center" >
              <a href="login"><h5>Login!</h5></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>




