<!--<div class="container">-->

<!--  <div class="card o-hidden border-0 shadow-lg my-5">-->
<!--    <div class="card-body p-0">-->
<!--      &lt;!&ndash; Nested Row within Card Body &ndash;&gt;-->
<!--      <div class="row">-->
<!--        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>-->
<!--        <div class="col-lg-7">-->
<!--          <div class="p-5">-->
<!--            <div class="text-center">-->
<!--              <h1 class="h4 text-gray-900 mb-4">Tạo mới tài khoản</h1>-->
<!--            </div>-->
<!--            <form class="user" [formGroup]="registerForm" (ngSubmit)="register()">-->
<!--              <div class="form-group row">-->
<!--                <div class="col-sm-6 mb-3 mb-sm-0">-->
<!--                  <input type="text" class="form-control form-control-user" id="username"-->
<!--                         placeholder="Tên đăng nhập" formControlName="username">-->
<!--                  <div-->
<!--                    *ngIf="registerForm.get('username').invalid && registerForm.get('username').touched">-->
<!--                    <div class="alert alert-danger mt-1" role="alert"-->
<!--                         *ngIf="registerForm.get('username').errors.minlength">-->
<!--                      Tên đăng nhập từ 6-12 kí tự-->
<!--                    </div>-->
<!--                    <div class="alert alert-danger mt-1" role="alert"-->
<!--                         *ngIf="registerForm.get('username').errors.required">-->
<!--                      Nhập vào tên đăng nhập-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-sm-6">-->
<!--                  <input type="text" class="form-control form-control-user" id="exampleFirstName"-->
<!--                         placeholder="Tên" formControlName="firstName" name="firstName">-->
<!--                  <div-->
<!--                    *ngIf="registerForm.get('firstName').invalid && registerForm.get('firstName').touched">-->
<!--                    <div class="alert alert-danger mt-1" role="alert"-->
<!--                         *ngIf="registerForm.get('firstName').errors.minlength">-->
<!--                      Tên đăng nhập từ 6 trở lên-->
<!--                    </div>-->
<!--                    <div class="alert alert-danger mt-1" role="alert"-->
<!--                         *ngIf="registerForm.get('firstName').errors.required">-->
<!--                      Nhập vào tên-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-sm-6">-->
<!--                  <input type="text" class="form-control form-control-user" id="exampleLastName"-->
<!--                         placeholder="Họ" formControlName="lastName" name="lastName">-->
<!--                  <div-->
<!--                    *ngIf="registerForm.get('lastName').invalid && registerForm.get('lastName').touched">-->
<!--                    <div class="alert alert-danger mt-1" role="alert"-->
<!--                         *ngIf="registerForm.get('lastName').errors.minlength">-->
<!--                      Tên đăng nhập từ 6 trở lên-->
<!--                    </div>-->
<!--                    <div class="alert alert-danger mt-1" role="alert"-->
<!--                         *ngIf="registerForm.get('lastName').errors.required">-->
<!--                      Nhập vào họ-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--              </div>-->
<!--              <div class="form-group">-->
<!--                <input type="email" class="form-control form-control-user" id="exampleInputEmail"-->
<!--                       placeholder="Địa chỉ mail" formControlName="email">-->
<!--                <div-->
<!--                  *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">-->
<!--                  <div class="alert alert-danger mt-1" role="alert"-->
<!--                       *ngIf="registerForm.get('email').errors.email">-->
<!--                    Chưa đúng định dạng-->
<!--                  </div>-->
<!--                  <div class="alert alert-danger mt-1" role="alert"-->
<!--                       *ngIf="registerForm.get('email').errors.required">-->
<!--                    Nhập vào email-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="form-group row">-->
<!--                <div class="col-sm-6 mb-3 mb-sm-0">-->
<!--                  <input type="password" class="form-control form-control-user"-->
<!--                         id="exampleInputPassword" placeholder="Mật khẩu" formControlName="password">-->
<!--                  <div-->
<!--                    *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched">-->
<!--                    <div class="alert alert-danger mt-1" role="alert"-->
<!--                         *ngIf="registerForm.get('password').errors.minlength">-->
<!--                      Mật khẩu từ 6-12 kí tự-->
<!--                    </div>-->
<!--                    <div class="alert alert-danger mt-1" role="alert"-->
<!--                         *ngIf="registerForm.get('password').errors.required">-->
<!--                      Nhập vào mật khẩu-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-sm-6">-->
<!--                  <input type="password" class="form-control form-control-user"-->
<!--                         id="exampleRepeatPassword" placeholder="Nhập lại mật khẩu" formControlName="confirmPassword">-->
<!--                  <div-->
<!--                    *ngIf="registerForm.get('confirmPassword').invalid && registerForm.get('confirmPassword').touched">-->
<!--                    <div class="alert alert-danger mt-1" role="alert"-->
<!--                         *ngIf="registerForm.get('confirmPassword').errors.required">-->
<!--                      Nhập vào mật khẩu-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <input type="submit" class="btn btn-primary btn-user btn-block" value="Đăng ký">-->
<!--              <hr>-->
<!--              <a href="../../../../../index.html" class="btn btn-google btn-user btn-block disabled">-->
<!--                <i class="fab fa-google fa-fw"></i> Đăng ký với Google-->
<!--              </a>-->
<!--              <a href="../../../../../index.html" class="btn btn-facebook btn-user btn-block disabled">-->
<!--                <i class="fab fa-facebook-f fa-fw"></i> Đăng ký với Facebook-->
<!--              </a>-->
<!--            </form>-->
<!--            <hr>-->
<!--            <div class="text-center">-->
<!--              <a class="small" href="forgot-password.html">Quên mật khẩu?</a>-->
<!--            </div>-->
<!--            <div class="text-center">-->
<!--              <a class="small" href="login">Đăng nhập!</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->

<div class="container mt-5">
  <h1 class="text-capitalize text-primary">Create new user</h1>
  <div class="d-block w-50 m-auto">
    <form name="form" class="form-group" (ngSubmit)="f.form.valid && createNewUser()" #f="ngForm" novalidate>
      <!--  <div class="container">-->

      <div class="form-group">
        <label for="username">Username<i class="text-danger ml-1">*</i></label>
        <input type="text" class="form-control" name="username" id="username" [(ngModel)]="form.username" #username="ngModel" required="required">
      </div>
      <div *ngIf="f.submitted && username.invalid">
        <div *ngIf="username.errors?.required" class="text-danger">Username is required</div>
      </div>

      <div class="form-group">
        <label for="password">Password <i class="text-danger ml-1">*</i></label>
        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="form.password" #password ="ngModel" required="required" minlength="6">
      </div>
      <div *ngIf="f.submitted && password.invalid">
        <div *ngIf="password.errors?.required" class="text-danger">Password is required</div>
        <div *ngIf="password.errors?.minlength" class="text-danger">Password at least 6 characters</div>
      </div>

      <div class="form-group">
        <label for="firstName">First-name<i class="text-danger ml-1">*</i></label>
        <input type="text" class="form-control" name="firstName" id="firstName" [(ngModel)]="form.firstName" #firstName="ngModel" required="required">
      </div>
      <div *ngIf="f.submitted && firstName.invalid">
        <div *ngIf="username.errors?.required" class="text-danger">first name is required</div>
      </div>

      <div class="form-group">
        <label for="lastName">Last-name<i class="text-danger ml-1">*</i></label>
        <input type="text" class="form-control" name="lastName" id="lastName" [(ngModel)]="form.lastName" #lastName="ngModel" required="required">
      </div>
      <div *ngIf="f.submitted && lastName.invalid">
        <div *ngIf="username.errors?.required" class="text-danger">Last-name is required</div>
      </div>

      <div class="form-group">
        <label for="email">Email <i class="text-danger ml-1">*</i></label>
        <input type="email" class="form-control" name="email" id="email" [(ngModel)]="form.email" [email]="true" #email ="ngModel" required="required" email="email">
      </div>
      <div *ngIf="f.submitted && email.invalid">
        <div *ngIf="email.errors?.required" class="text-danger">Email is required</div>
        <div *ngIf="email.errors?.email" class="text-danger">Email must be a valid Email</div>
      </div>
      <div>
        Gender:
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="male" id="male" [(ngModel)]="form.gender" value="Male" #gender ="ngModel">
          <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="female" id="female" [(ngModel)]="form.gender" value="Female" #gender ="ngModel">
          <label class="form-check-label" for="female">Female</label>
        </div>
      </div>
      <br>
      <div class="form-group ">
        <label for="phone">Phone Number</label>
        <input type="text" class="form-control" name="phone" id="phone" [(ngModel)]="form.phoneNumber" #phoneNumber ="ngModel" minlength="10" maxlength="11">
      </div>
      <div *ngIf="f.submitted">
        <div *ngIf="phoneNumber.errors?.minlength" class="text-danger">Phone number at least 10 characters</div>
        <div *ngIf="phoneNumber.errors?.maxlength" class="text-danger">Phone number max 11 characters</div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success">Create</button>
        <button type="button" routerLink="/login" class="btn btn-warning ml-2">Back</button>
      </div>
      <!--  </div>-->
    </form>
  </div>
</div>


